@model TravelPlanner.Models.ViewModels.TripReportViewModel


@{
    ViewData["Title"] = "Report";
}

<h1>Report</h1>

<h4>Top Clients</h4>
<dd class="col-sm-10">
    <table class="table">
        <tr>
            <th>Client Name</th>

            <th>Number of Trips</th>
        </tr>
        @foreach (var item in Model.BusyClients)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.client.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TripCount)
                </td>


            </tr>
        }

        <h4>Busiest Months</h4>
<dd class="col-sm-10">
    <table class="table">
        <tr>
            <th>Month</th>

            <th>Number of Trips</th>
        </tr>
        @foreach (var item in Model.BusyClients)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.client.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TripCount)
                </td>


            </tr>
        }
    </table>
</dd>

